<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/songs.scss">
    <title>Song Page</title>
</head>
<body>

    <div class="song-index-page-wrapper">
       <div class="song-wrapper">
            <h1>Song Index test </h1>



            <%= form_tag(songs_path , :method => 'get') do%>
                <%= label_tag(:q, "Search for songs:") %>
                <%= text_field_tag(:search, params[:search]) %>
                <%= submit_tag("search")%>
            <% end %>
            
            
            <%search = @tracks.last(5)%>
            <%search.each do |s|%>
            <p><%=link_to s.name, song_path(s.id)%></p>
            <%end%>
       </div> 
    </div>
 

</body>
</html>









