<h1>Song Index test </h1>



<%= form_tag(songs_path , :method => 'get') do%>
     <%= label_tag(:q, "Search for songs:") %>
     <%= text_field_tag(:search, params[:search]) %>
     <%= submit_tag("search")%>
 <% end %>


<%if @songs %>
<%@songs.first(5).each do |s|%>
<p><%= s.name%>; <%=s.artists.map {|a| a.name} %></p>
<%end%>
<%else%>
<p><%='Please enter your search above.'%></p>
<%end%>

