<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Show Page</title>
    <link rel="stylesheet" href="app/assets/stylesheets/songs.scss">
</head>

<body>
    <div class="song-show-page-container">
        <div class="song-show-page-wrapper">
            <div class='track-name'>
            <h1><%=@track.name%></h1>
            </div>
            <div class='artist-name'>
                <p>By: <%=@track.album.artist.name%></p>
            </div>
            <div class='album-name'>
                <p>Presented on: <%=@track.album.name%></p>
            </div>

                <div class="add-to-playlist-form">

                    <%=form_for @song_playlist do |f|%>

                    <%= f.label :playlist %>
                <%= f.collection_select :playlist_id, Playlist.all, :id, :name, {class: 'playlist-dropdown'}%>

                    <%= f.hidden_field :song_id, value: @track.id %>

                    <div class="playlist-button-wrapper"><%=f.submit "Add song to playlist", class: 'add-to-playlist'%></div>

                    <% end %>
                    
                </div>
                            

            <div class='artist-image'>
                <img src="<%= @track.album.album_img%>" width="640" height="640"> 
            </div>
        </div>

        


        </div>

</body>

</html>
