<h1><%=@track.name%></h1>
<p>By: <%=@track.album.artist.name%></p>
<p>Presented on: <%=@track.album.name%></p>






<%=form_for @song_playlist do |f|%>

<%= f.label :playlist %>
<%= f.collection_select :playlist_id, Playlist.all, :id, :name %> 


<%= f.hidden_field :song_id, value: @track.id %> 

<%= f.submit "Add song to playlist"%>

<% end %>