<h1>New Playlist Form</h1>

<%=form_for @playlist do |f|%>

<%= f.label :name %>
<%= f.text_field :name %> 

<%= f.label :user %>
<%= f.collection_select :user_id, User.all, :id, :name %> 

<%= f.submit %>

<% end %>